h1{
    color: cornflowerblue;
    text-align: center;
    font-size: 3rem;
    background-color: blueviolet;
    width: 50%;
}

div.MESAJIMIZ{
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    width: 50%;
}
.link{
    color:blue;
}

div{
    
}